.App {
  padding: 1em;
  line-height: 1.65;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clause {
  margin-top: 1em;
}

.mention {
  padding: 0.2em 0.4em;
  color: white;
  border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em; 
  margin-bottom: 1em;
}

p {
  margin-top: 1em; 
  margin-bottom: 1em;
}